@media (min-width: 360px) {
  .header-menu {
    width: 360px;
    padding-left: 24px;
    &__img-logo {
      width: 103px;
      height: 54px;
      margin-right: 111px;
    }
  }
}

@media (min-width: 768px) {
  .header-menu {
    width: 320px;
    &__img-logo {
      width: 97px;
      height: 51px;
      margin-right: 78px;
    }
  }
  .header {
    padding-left: 24px;
    padding-right: 24px;
    &__actions {
    }
    &__burger {
      position: relative;
      margin-right: 43px;
      &:after {
        content: '';
        position: absolute;
        right: -20px;
        width: 2px;
        height: 32px;
        background: $light-grey;
        border-radius: 1px;
      }
    }
  }

  .burger-logo__position {
    margin-right: 240px;
  }

  .action:nth-child(1),
  .action:nth-child(2),
  .action:nth-child(3) {
    display: block;
  }

  .action:nth-child(1) {
    margin-right: 16px;
  }

  .action:nth-child(3) {
    margin-left: 16px;
    margin-right: 20px;
  }

  .action:nth-child(4) {
    margin-left: 22px;
  }

  .services {
    padding-bottom: 40px;
    padding-bottom: 32px;
    &__wrapper {
      display: flex;
      margin-top: 32px;
    }
    &__text-title {
      margin-left: 24px;
    }
    &__menu {
      margin-left: 24px;
    }
    &__descr {
      margin: 0 48px 10px 24px;
    }
    &__descr-further {
      display: inline;
    }
    &__btn {
      margin-left: 25px;
    }
    &__logo {
      width: 360px;
    }
  }

  h3 {
    height: 56px;
    padding-left: 24px;
    margin-bottom: 16px;
  }

  .brands,
  .technic {
    padding-bottom: 32px;
  }

  .brands__swiper {
    height: auto;
  }

  .brands-indent {
    padding-bottom: 14px;
  }

  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .swiper-indent {
    margin-bottom: 38px;
  }

  .swiper-slide {
    &__btn-wrapper {
      width: 224px;
      margin-top: 8px;
      margin-bottom: 8px;
      margin-right: 0px;
      margin-left: 0px;
    }
    &--hidden {
      display: none;
    }
  }

  .button__show-more {
    display: flex;
    margin-left: 24px;
  }

  .technic {
    &__title {
      height: 56px;
    }
    &__swiper {
      height: auto;
    }
    &__slide {
      display: flex;
      flex-wrap: wrap;
    }
    &__slide--hidden {
      display: none;
    }
  }
  .swiper-slide {
    width: 224px;
  }

  .slide-btn {
    margin: 8px 0;
    width: 224px;
  }

  .prices {
    position: relative;
    &__title {
      padding-left: 24px;
      margin-bottom: 63px;
    }
    &__block {
      flex: 1 0 0;
    }
    &__swiper-wrapper {
      position: static;
      margin-left: 0;
      min-width: 100%;
    }
  }

  .prices-swiper {
    width: 720px;
    min-height: 324px;
    margin: 16px 24px 0 24px;
    overflow: visible;
  }
  .swiper {
    width: auto;
    margin-left: 24px;
  }

  .swiper-slide {
    margin-bottom: 0;
    margin-right: 24px;
  }
  .slide-prices {
    position: static;
    transform: none;
    width: 100% !important;
    display: flex;
    height: 65px;
    align-items: center;
    padding: 23px 16px;
    justify-content: space-between;
    border-bottom: solid 1px $light-grey;
  }
  .swiper-backface-hidden .swiper-slide {
    transform: none;
  }

  .swiper-slide:not(:first-child) > .wrapper-services > .subtitle-services,
  .swiper-slide:not(:first-child) > .wrapper-price > .subtitle-price,
  .swiper-slide:not(:first-child) > .prices__block > .term {
    display: none;
  }

  .swiper-slide:first-child > .wrapper-services > .subtitle-services,
  .swiper-slide:first-child > .wrapper-price > .subtitle-price,
  .swiper-slide:first-child > .prices__block > .term {
    position: absolute;
    background-color: $background-grey;
    top: -30px;
    z-index: 50;
    margin: 0;
  }
  .wrapper-duration,
  .btn-order {
    display: none;
  }

  .prices__block--hidden,
  .btn-order--hidden {
    display: flex;
  }
  .btn-order--hidden {
    position: static;
  }
  .wrapper-services {
    position: static;
    height: 18px;
    width: 348px;
    margin: 0;
    flex: 4 1 0;
  }
  .wrapper-price {
    width: 74px;
    margin: 0;
    flex: 1 1 0;
  }

  .application {
    margin-left: 24px;
    &__text {
      width: 397px;
    }
    &__span {
      display: none;
    }
  }
  .footer {
    padding-bottom: 25px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: top;
      padding-left: 25px;
      padding-right: 24px;
      padding-top: 32px;
    }
    &__info:nth-child(3) {
      width: 225px;
      text-align: right;
    }
    &__info-span {
      display: none;
      &--768 {
        display: inline;
      }
    }
  }
  .modal-call__btn-order {
    display: flex;
  }
}

@media (min-width: 1019px) {
  .swiper-slide--hidden:nth-child(7),
  .swiper-slide--hidden:nth-child(8),
  .technic__slide--hidden:nth-child(4) {
    display: block;
  }

  .swiper-slide:nth-child(3n) {
    margin-right: 24px;
  }
}

@media (min-width: 1366px) {
  .prices-swiper {
    display: none;
  }

  .prices {
    &__table {
      display: block;
      max-width: 1056px;
      border-collapse: collapse;
      background-color: #fff;
      margin-left: 24px;
    }
    &__title-table {
      background-color: #f8f8f8;
    }
  }

  .btn-order--hidden {
    position: relative;
    top: 23px;
    left: -19px;
  }
  .row-table {
    padding-right: 24px;
  }

  .data-table {
    padding-right: 101px;
  }
}

@media (min-width: 1440px) {
  main {
    display: flex;
  }
  .burger-overlay {
    left: 0;

    display: block;
    height: auto;
    width: auto;
    position: relative;
    left: 0;
    box-shadow: none;
  }
  .header-menu {
    position: relative;
    left: 0;
    top: 0;
    box-shadow: none;
    &__btn-close {
      display: none;
    }
    &__img-logo {
      margin-right: 118px;
    }
  }

  .header {
    display: none;
  }

  .services {
    padding-top: 42px;
    padding-bottom: 51px;
    margin-right: 0;
    &__text-title {
      margin-left: 35px;
    }
    &__icons {
      display: flex;
      margin-left: auto;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      width: 1rem;
      height: 1.25rem;
      background: $pink;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 20px;
      &:nth-child(6) {
        margin-right: 7px;
      }
    }
    &__icon-text {
      font-size: 16px;
      letter-spacing: -0.2px;
      color: $main-text-color;
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 1rem;
      line-height: 2.5rem;
      color: $main-text-color;
      border: 0;
      background: none;
    }
    &__tools {
      margin-right: 8px;
    }
    &__magnifier {
      margin-right: 19px;
      margin-left: 32px;
    }
    &__menu {
      margin-left: 34px;
      overflow: visible;
    }
    &__reviews-btn {
      display: block;
      width: 5.9375rem;
      height: 2.5rem;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.2px;
      color: $grey;
      margin: 2px 0 16px 32px;
      padding: 8px 20px;
    }
    &__descr {
      margin-left: 34px;
      margin-bottom: 13px;
      margin-right: 36px;
    }
    &__descr-end {
      display: inline;
    }
    &__btn {
      display: none;
    }
    &__wrapper {
      margin-top: 7px;
    }
    &__logo {
      width: 531px;
      margin-right: 3px;
    }
  }

  .swiper-slide__btn-wrapper {
    width: 240px;
  }

  .swiper-slide,
  .swiper-slide:nth-child(3n) {
    margin-right: 32px;
  }

  .brands,
  .technic {
    padding-bottom: 50px;
  }

  .prices__title {
    padding-left: 32px;
  }

  .prices__table {
    margin-left: 32px;
  }

  .prices-swiper {
    margin: 0 32px 0 32px;
  }

  .slide-btn {
    width: 240px;
  }

  .application {
    margin-left: 32px;
  }
  .footer {
    padding-bottom: 21px;
    &__info:nth-child(3) {
      width: 288px;
    }
    &__info-span--768 {
      display: none;
    }
  }

  .modal-call,
  .modal-feedback {
    width: 440px;
    height: 100%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
    &__btn-close {
      display: block;
      position: absolute;
      top: 40px;
      left: -73px;
    }
    &__title {
      margin-top: 16px;
    }
    &__text {
      width: 293px;
    }
  }
}
