.brands {
  position: relative;
  min-width: 320px;
  background: rgba(248, 248, 248, 1);
  padding-bottom: 7px;
}

h3 {
  min-width: 320px;
  max-height: 80px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $grey;
  padding: 16px;
  margin: 0;
  margin-bottom: 16px;
  background: linear-gradient(90deg, $background-grey 1.39%, #ffffff 100%);
}

.swiper {
  width: 240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.brands__swiper {
  height: 117px;
}

.swiper-slide {
  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    background: #ffffff;
    border: 1px solid $light-grey;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 16px 16px 0;
    padding: 20px 16px;
  }
  &__icon {
    max-height: 72px;
  }
  &__btn {
    box-sizing: border-box;
    border: 2px solid $pink;
    border-radius: 20px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  &__img {
    width: 7.5px;
    height: 12px;
    color: $pink;
  }
}

.swiper-slide .swiper-slide .swiper-slide .swiper > .swiper-pagination {
  position: absolute;
  bottom: 19px;
  height: 12px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #979797;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}

.swiper-pagination-horizontal {
  bottom: 2px;
}

.button__show-more {
  display: none;
  justify-content: space-between;
  width: 133px;
  height: 24px;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
}

.text {
  width: 6.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: $main-text-color;
}
